/*Help fix a certain size for logo and headers less than 1600px*/
@media (max-width: 1600px){
    .alogo{
        height: 200px;
        width:150px;
    }
    .headertitle{
        font-size: 100px;
    }
    .headersubtitle {
        font-size: 50px;
    }
}
/*Help fix a certain size for logo and headers less than 1200px*/
@media (max-width: 1200px){
    .alogo{
        height: 120px;
        width: 100px;
    }
    .headertitle{
        font-size: 75px;
    }
    .headersubtitle{
        font-size: 25px;
    }
}
/*Help fix a certain size for logo and headers less than 600px*/
@media (max-width: 600px){
    .alogo{
        height: 70px;
        width: 50px;
    }
    .headertitle{
        font-size: 45px;
    }
    .headersubtitle{
        font-size: 15px;
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}
p {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
hr {
    height: 4px;
    background-color: #bcbbbb;
}
.headertitle {
    text-align: right;
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.headersubtitle{
    text-align: right;
    margin: 0;
    padding: 0;
}
.center {
    text-align: center;
}
.textfootheading {
    color: #bcbbbb;
    padding-left: 15px
}
/*Images in the footer*/
.movie{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.frogger{
    margin: 0;
    padding-top:10px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center; 
}
.map{
    margin: 0;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}